.Gallery{
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  }
   .heading{
    text-align: center;
  }
.heading h1{
  color: black;
  padding-top: 60px;
}
  .Gallery .box-container{
    columns:3 25rem;
    column-gap: 1.5rem;
  }
  .box{
    margin-bottom: 1rem;
    break-inside: avoid;
    img{
       padding-left:300px;
      width:165%;
      border-radius: 1rem;
      margin-bottom: 1rem;
       text-align: center;
 
    }
  }
 
 
   h3{
    font-size: 2rem;
    padding-left:300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
  }
  h1{
    color:black;
    font-family: cursive;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 100px;
   
  }
  .ri{
    padding-left: 300px;
    width: 160%;
    border-radius: 1rem;
      margin-bottom: 1rem;
  }
 
  .ni{
    padding-left: 600px;
    width: 120%;
    height:100%;
    border-radius: 1rem;
      margin-bottom: 1rem;
  }
